<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Manul CAT</title>
</head>
<body>
<h1><a href="https://www.vokrugsveta.ru/vs/article/8142/">Манул Кот Наоборот</a></h1>
<img src="https://n1s1.hsmedia.ru/14/0f/eb/140feba377519c2169125855ce73a76f/727x485_1_9dda30bb9975b0245bf48173d226f86f@5000x3334_0xac120003_13157436161637522687.jpeg">
<div>
Манул<br>
Felis manul / Otocolobus manul
</div>

<div>
    <strong>Класс</strong> — <em>млекопитающие</em><br>
    <strong>Отряд</strong> — <em>хищные</em><br>
    <strong>Семейство</strong> — <em>кошачьи</em><br>
    <strong>Род</strong> — <em>кошки</em>
</div>

<div>
    <p>
Длина тела — 52–65 см, длина хвоста — 23–31 см, вес — 2–5 кг. Средняя продолжительность жизни в неволе — 12–14 лет. Сколько живет на свободе, неизвестно.
    </p>
</div>
<div>
<p>
    <mark>Главное отличие манула от домашних кошек — глаза.</mark> Желтые, с круглыми зрачками, которые при ярком свете не сужаются до щелочек, а просто уменьшаются. У манула также, по сравнению с большинством кошек, более массивное тело, короткие толстые ноги и длинный толстый хвост, резко закругляющийся на конце. Голова небольшая, широкая и уплощенная, уши маленькие, округлые. На щеках — пушистые баки и по две полоски темной шерсти. Существует три подвида манула, различные по окрасу шерсти: серовато-бурый — сибирский, рыжеватый — среднеазиатский, темно-серый — тибетский. В России встречается только сибирский. Он обитает на трех изолированных участках — в Читинской области, Забайкалье и на Алтае.
</p>
    </div>
</body>
</html>